body{
  margin: 0;
  padding: 0;
  align-items: center;
}
h1,h3{
  text-align: center;
  color: white;
}
td{
  border: 1px solid black;
  padding-left: 8px;
}
.header{
  background-color: brown;
  align-items: center;
  width: 100%;
}
p{
  color: brown;
  text-align: center;
  font-weight: bold;
}
.burguin{
  border: 1px solid black;
  align-items: center;
  width: 265px;
  height: 110px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  
}
.ths{
  background-color: brown;
  color: white;
  border: 1px solid black;
  
}